<% include partials/header.ejs %>

<div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Expend It</h3>
        </div>

        <ul class="list-unstyled components">
            <li>
                <a href="#"">New Item</a>
            </li>
            <li>
                <a href="#">New Category</a>
            </li>
            <li>
                <a href="#">See Report</a>
            </li>
        </ul>

    </nav>
    <!-- Page Content -->
    <div id="content">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div>
                <p> here is the content</p>
            </div>
        </nav>
    </div>
</div>


<% include partials/footer.ejs %>